.margin-content {
    margin-top: 20px;
}

.js-task-delete, .js-task-closed {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.li__input__small {
    width: 30% !important;
}

.li__input__margin__top {
    margin-top: 5px !important;
}

.li__p__margin, .li__a_delete__margin {
    margin: 15px 20px 0 20px !important;
}

a {
    color: black;
}

.auth__field {
    position: relative;
}

.auth__field__arrow {
    position: absolute;
     left: 40%;
    top: 12%;
}

.auth__adv__img {
    width: 100%;
}

