{% extends 'base.html' %}

{% load not_bool %}

{% block content %}
    <div  class="row margin-content">
        <div class="col s12">
            <form method="POST" class="js-add-task">
                {% csrf_token %}
                <div class="input-field col s12">
                  <input placeholder="Place your task here" id="task" data-url="{% url 'task-create-page'%}" type="text" class="validate">
                  <label for="task">Task</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {% for task in task_list %}
                    {% if task.is_completed %}
                        <li class="collection-item">
                            <p class="left">
                                  <input type="checkbox" id="task-already-closed" class="js-task-closed" data-url="{% url 'task-update-completion-page' pk=task.id %}"#}
{#                                   data-flag="{{ task.is_completed|opp }}" checked="checked"/>
                                  <label for="task-already-closed"></label>
                            </p>
                            <p class="left li__p__margin completed">
                                {{ task.description }}
                            </p>
                            <input disabled data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                   class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                            <a class="btn-floating btn-large waves-effect waves-light red right js-task-delete" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="material-icons">not_interested</i></a>
                        </li>
                    {% elif task.deadline|fix_time > now %}
                            <li class="collection-item">
                                <p class="left">
                                  <input type="checkbox" id="task-closed" class="js-task-closed" data-url="{% url 'task-update-completion-page' pk=task.id %}"#}
{#                                   data-flag="{{ task.is_completed|opp }}"/>
                                  <label for="task-closed"></label>
                                </p>
                                <p class="left li__p__margin">
                                    {{ task.description }}
                                </p>
                                <input data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                       class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                                <a class="btn-floating btn-large waves-effect waves-light red right js-task-delete" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="material-icons">not_interested</i></a>
                            </li>
                    {% else %}
                        <li class="collection-item red-text">
                            <p class="left li__p__margin">
                                {{ task.description }}
                            </p>
                            <input data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                   class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                            <a class="btn-floating btn-large waves-effect waves-light red right js-task-delete" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="material-icons">not_interested</i></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}