{% extends 'base.html' %}

{% load not_bool %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
    <div  class="row margin-content">
        <div class="col s12">

            <form method="POST" class="js-add-task">
                {% csrf_token %}
                <div class="input-field col s12 m9 l9">
                  <input placeholder="Place your task here" id="description" data-url="{% url 'task-create-page'%}" type="text" class="validate">
                  <label for="description">Task</label>
                    <div id="description_error"></div>
                </div>
                <div class="input-field col s12 m3 l3">
                  <input id="deadline" type="date" class="validate" value="{{ now|nex_day_time|date:"Y-m-d" }}">
                    <div id="deadline_error"></div>
                </div>
                <button class="waves-effect waves-light btn right" type="submit">Add Task</button>
            </form>

        </div>
    </div>
    <div class="row" id="content_update">
        <div class="col s12">
            <ul class="collection">
                {% for task in task_list %}
                    {% if user == task.which_user %}
                        {% if task.is_completed %}
                            <li class="collection-item">
                                <p class="left js-task-closed">
                                      <input type="checkbox" id="task-already-closed-{{ task.id }}" data-url="{% url 'task-update-completion-page' pk=task.id %}"
                                       data-flag="{{ task.is_completed|opp }}" checked="checked"/>
                                      <label for="task-already-closed-{{ task.id }}"></label>
                                </p>
                                <p class="left li__p__margin completed">
                                    {{ task.description }}
                                </p>
                                <input disabled data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                       class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                                <a class="right js-task-delete li__a_delete__margin" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="fa fa-times fa-2x"></i></a>
                            </li>
                        {% elif task.deadline|fix_time > now %}
                                <li class="collection-item">
                                    <p class="left js-task-closed">
                                      <input type="checkbox" id="task-closed-{{ task.id }}" data-url="{% url 'task-update-completion-page' pk=task.id %}"
                                       data-flag="{{ task.is_completed|opp }}"/>
                                      <label for="task-closed-{{ task.id }}"></label>
                                    </p>
                                    <p class="left li__p__margin">
                                        {{ task.description }}
                                    </p>
                                    <input data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                           class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                                    <a class="right js-task-delete li__a_delete__margin" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="fa fa-times fa-2x"></i></a>
                                </li>
                        {% else %}
                            <li class="collection-item red-text">
                                <p class="left js-task-closed">
                                      <input type="checkbox" id="task-closed-{{ task.id }}" data-url="{% url 'task-update-completion-page' pk=task.id %}"
                                       data-flag="{{ task.is_completed|opp }}"/>
                                      <label for="task-closed-{{ task.id }}"></label>
                                </p>
                                <p class="left li__p__margin">
                                    {{ task.description }}
                                </p>
                                <input data-url="{% url 'task-update-deadline-page' pk=task.id %}" type="date"
                                       class="datepicker js-update-deadline li__input__small li__input__margin__top" value="{{ task.deadline|date:"Y-m-d" }}">
                                <a class="right js-task-delete li__a_delete__margin" data-url="{% url 'task-delete-page' pk=task.id %}"><i class="fa fa-times fa-2x"></i></a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
        <div class="row auth__field margin-content">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <p>
                      Login or SignUp to make your TODO lists like this
                  </p>
                </div>
                <div class="card-action">
                  <a href="{% url 'account_login' %}">Login</a>
                  <a href="{% url 'account_signup' %}">SignUp</a>
                </div>
              </div>
            </div>
            <div class='auth__field__arrow'>
                <img src="{% static 'img/arrow_down.png' %}" alt="">
            </div>
      </div>
        <div class="row">
            <div class="col s12">
                <img src="{% static 'img/1.png' %}" class="auth__adv__img">
            </div>
        </div>
    {% endif %}
{% endblock %}